extends ../incontainer 

block content
  .row
    .col-10
      h1 #{user.name}

  hr
  .row
    .col-3
      img.rounded.mb-3(src=user.gravatar_url, width="100%")
      if user.username == current.username
        a(href='/settings/profile').btn.btn-outline-dark Edit
    .col-9
      .card.mb-3
        .card-body
          h3 Overview
          span #{user.overview}
      .card.mb-3
        .card-body
          h3 Past Jobs
          each job in past_job
            .card.mb-3
              .card-body
                h5 #{job.job}
                p #{job.job_info}
          if amount > 0
            a.btn.btn-outline-secondary.btn-block(href='/profile/'+user.username+'/jobs') View all past jobs

      .card
        .card-body
          h3 Client Review
          each review in user.review
            .card
                .card-body
                  h5 #{review.user.username}
                  .card
                    .card-body
                      h6 #{review.review}