extends ../incontainer

block content
  .row
    .col-10
      h1 #{user.name}
  hr
  .row
    .col-3
      img.rounded.mb-3(src=user.gravatar_url(400), width="100%")
      if current.username==user.username
        a(href='/settings/profile').btn.btn-outline-dark Edit
    .col-9
      ul.nav.nav-tabs.mb-2
        li.nav-item
          a.nav-link(href="..") เกี่ยวกับ 
        li.nav-item
          a.nav-link(href="../jobs/1") ผลงาน 
        li.nav-item
          a.nav-link.active(href="#") รีวิว
      h2 รีวิว 
      .row
        .col-3
          .card
            .card-body
              h1.text-center #{totalRate}
              p.text-center จากผู้ใช้ #{amount} คน
        .col-9
          each review in reviews
            .card.mb-2
              .card-body
                .d-flex
                  .d-2.flex-grow-1
                    blockquote.blockquote.mb-0
                      p.mb-0 #{review.review}
                      footer.blockquote-footer #{review.reviewer.name}
                  .d-2
                    h5 #{review.rate}
        
          nav(aria-label='Page navigation')
            ul.pagination.justify-content-center
                if amount>0
                    if page<=1
                        li.page-item.disabled
                            a.page-link(href='#', tabindex='-1') «
                    else
                        li.page-item
                            a.page-link(href=(page-1)) «
                    while n<=limit
                        if n==page
                            li.page-item.active
                                a.page-link(href=n)=n++
                        else
                            li.page-item
                                a.page-link(href=n)=n++
                    if page>=limit
                        li.page-item.disabled
                            a.page-link(href='#', tabindex='-1') »
                    else
                        li.page-item
                            a.page-link(href=(page+1)) »