extends ../incontainer 

block content
  h1=h1_title
  form(method='POST')
    .form-group
      label หัวข้องาน
      if locals.job
        input.form-control(name='job', type='text', value=job.job)
      else
        input.form-control(name='job', type='text')
      .small ควรอธิบายว่าหาฟรีแลนซ์ทำงานอะไร, ต้องการอะไรจากงาน
    .form-group
      label รายละเอียดงาน 
      textarea.form-control.mde(name='job_info')
        if locals.job
          | #{job.job_info}

      .small อธิบายงานที่ต้องทำ รวมถึงรายละเอียด (เช่นเวลาทำงาน, กำหนดส่ง), สามารถใช้ภาษา Markdown ได้
    .form-group
      label ทักษะที่ต้องการ
      .filter-item-scroll
        .filter-tag-input#skills
          if locals.job
            each val in tags
              .input-tag=val.tag
                .delete-tag(onclick='deleteTag(this)') ×
          input#skill_input(type='text', placeholder='Select Skill')
          input#formTags(name='tags', type='hidden')
          input#checkDelete(name='deleted', type='hidden')
    .form-group
      label ประเภทค่าจ้าง
      select#inlineFormCustomSelect.custom-select.mr-sm-2(name='job_type')
        if locals.job
          if job.fixed
            option(value='1', selected='') อัตราคงที่
            option(value='2') รายชั่วโมง
          else
            option(value='1') อัตราคงที่
            option(value='2', selected='') รายชั่วโมง
        else
          option(value='', selected='') เลือกประเภทค่าจ้าง
          option(value='1') อัตราคงที่
          option(value='2') รายชั่วโมง
      input#fixed(name='fixed', type='hidden')
      input#hourly(name='hourly', type='hidden')
    .form-group
      label ราคา
      if locals.job
        input.form-control(name='price', type='text', value=job.price)
      else
        input.form-control(name='price', type='text')
    button.btn.btn-primary.btn-block(type='submit') Submit 
  
block js-after
  script.
    var simplemde = new SimpleMDE({
      spellChecker: false,
      status: false,
      toolbar: ["bold", "italic", "|", "quote", "code", "|", "unordered-list", "ordered-list", "|", "link", "image", "|", "guide"]
    });

    var skill_input = $("#skill_input");
    skill_input.on("keyup", (e) => {
      e.preventDefault();
      if (e.keyCode === 188){
        var skills = $("#skills .input-tag");
        if(skill_input.val() != ","){
          var tag = "<div class='input-tag'>" + skill_input.val().substring(0, skill_input.val().length-1) + "<div class='delete-tag' onclick='deleteTag(this)'>×</div></div>";
          $(tag).insertAfter(skills[skills.length-1]);
          iterateOverTags();
        }
        skill_input.val("");
      }
    });

    var jobType = $("#inlineFormCustomSelect.custom-select");
    jobType.on("change", function() {
      if($(this).val() == 1) {
        $("#fixed").val(1);
        $("#hourly").val(null);
      }
      else {
        $("#fixed").val(null);
        $("#hourly").val(1);
      }
    });

    function deleteTag(element) {
      element.parentNode.remove();
      $("#checkDelete").val(true);
      iterateOverTags();
    }

    function iterateOverTags() {
      var tagList = [];
      $("#skills .input-tag").each(function(index) {
        tagList.push($(this).text().substring(0, $(this).text().length-1));
      });
      var tags = tagList.join(",");
      $("#formTags").val(tags);
    }