extends ../incontainer 

block content
  .row
    .col-12
      .d-flex
        .flex-grow-1
          span ประวัติการลงโฆษณาของงาน 
          h1 #{job.job}
  .row
    .col-12
      table#boostsTable.table
        thead
          td รหัสการซื้อ
          td วันเริ่มต้น
          td วันสิ้นสุด
          td จำนวนวัน
          td ราคารวม
          td การจ่ายเงิน
        for b in job.boosts
          tr
            td=b.id
            td=b.formatted_date[0]
            td=b.formatted_date[1]
            td=b.duration
            td=b.total_price
            td
              a.btn.btn-outline-secondary จ่ายเงิน

block js-after
  script.
    $('#boostsTable').DataTable();