extends ../incontainer 

block additional-heads
  script(src='/scripts/jquery.mask.min.js')
  script(src='https://cdn.omise.co/omise.js.gz')

block content
  .row
    .col-12
      .d-flex
        .flex-grow-1
          h1 จ่ายเงินโฆษณา
          hr
  .row
    .col-6
      h2 รายละเอียดโฆษณา
      ul
        li
          span(style="font-weight: bold") วันเริ่มต้นโฆษณา 
          span=boost.formatted_date[0]
        li
          span(style="font-weight: bold") วันสิ้นสุดโฆษณา 
          span=boost.formatted_date[1]
    .col-6
      .card
        .card-header
          span ชำระเงินผ่านบัตร&nbsp;
          span.badge.badge-primary=boost.total_price+" บาท"
        .card-body
          form#card-form
            .form-row
              .form-group.col-md-12
                label เลขบัตรเครดิต
                input#cardnumber.form-control(name="cardnumber" autocomplete="cc-number")
            .form-row
              .form-group.col-md-12
                label ชื่อตามที่ปรากฏบนบัตร
                input#name.form-control(name="name" autocomplete="cc-name")
            .form-row
              .form-group.col-md-6
                label เลขวันหมดอายุ
                input#expire.form-control(name="expire" autocomplete="cc-exp")
              .form-group.col-md-6
                label
                  | รหัสความปลอดภัย 
                  a(href='#', data-toggle='modal', data-target='#exampleModal') (คืออะไร?)
                input#cvc.form-control(name="cvc" autocomplete="cc-csc")
              button.btn.btn-lg.btn-primary(style="width: 100%")="ชำระเงิน ("+boost.total_price+" บาท)" 

  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title รหัสความปลอดภัยคืออะไร?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | CVC คือเลขยืนยันตนสำหรับบัตรเครดิตและเดบิต โดยเป็นเลขความยาวสามตัวที่อยู่บริเวณหลังบัตร
          img(src="/images/credit-card-cvc.svg" width="100%")

block js-after
  script.
    $("#cardnumber").mask("0000 0000 0000 0000");
    $("#cvc").mask("000", {
      placeholder: "000"
    });
    $("#expire").mask("00/00", {
      placeholder: "MM/YY"
    });
    $('[data-toggle="popover"]').popover()

    Omise.setPublicKey("#{process.env.OMISE_KEY}")
    var cardForm = $("#card-form");
    function submitCardForm(e){
      e.preventDefault();
      var expiry = $("#expire").val().match(/[0-9]{2}/g);
      var cardData = {
        name: $("#name").val(),
        number: $("#cardnumber").cleanVal(),
        expiration_month: expiry[0],
        expiration_year: "20" + expiry[1],
        security_code: $("#cvc").val()
      };
      Omise.createToken('card', cardData, function(statusCode, response) {
        if (statusCode == 200) {
          console.log(response);
        }
      });
    }
    cardForm.on("submit", submitCardForm);
