extends ../incontainer 

block content
  .row
    .col-12
      if query.saveinterested
        .alert.alert-success ทำการลงทะเบียนสนใจงานนี้แล้ว
      .d-flex
        .flex-grow-1
          span ประกาศงาน
          h1 #{job.job}
        if job.client != null && user != null
          if job.client.id == user.id
            div
              a.btn.btn-outline-info(href="../edit/"+job.id) แก้ไข
              a.btn.btn-outline-info(href="../boost/"+job.id) ลงโฆษณา
  .row.mb-3
    .col-8
      .card
        .card-body
          h2 รายละเอียดงาน
          span.
            !{job.job_info_md()}
            
    .col-4
      .card
        .card-body
          h2
            if job.fixed
              span.
                #{job.price} THB
            else
              span.
                #{job.price} THB per Hour
      .card
        .card-body
          each val in job.tags
            span.
              #{val.tag}.  
  .row
    .col-4
      .card.text-center
        .card-body
          h2 ผู้ว่าจ้าง 
          if job.client
            img.rounded.mb-3(style='text-align: center', src=job.client.gravatar_url(300), width="60%")
            h4 #{job.client.name}
            a.btn.btn-outline-info(href="/profile/"+job.client.username) ดูโปรไฟล์ผู้ว่าจ้าง
          else
            h4 งานนี้ไม่ปรากฏผู้ว่าจ้าง
    .col-4
      .card.text-center
        .card-body
          h2 ฟรีแลนซ์ที่สนใจงานนี้
          p(style="font-size: 70px") #{interestCount} 
          a.btn.btn-outline-info(href="/jobs/view/" + job.id + "/interests") ดูรายชื่อฟรีแลนซ์ที่สนใจงานนี้
    .col-4
      .card.text-center
        .card-body
          h2 ฟรีแลนซ์ที่ทำงานนี้ 
          if job.freelance
            h4 #{job.freelance.name}
            p #{job.freelance.overview}
          else
            p
              span.text-info.font-weight-bold งานนี้ยังว่างอยู่!&nbsp;
              span กดลงทะเบียนเพื่อแสดงความสนใจทำงานนี้
            a.btn.btn-info(href="/jobs/interested/"+job.id) แสดงความสนใจ
