extends ../incontainer 

block content
  .row
    .col-12
      if query.saveinterested
        .alert.alert-success ทำการลงทะเบียนสนใจงานนี้แล้ว
      .d-flex
        .flex-grow-1
          span ประกาศงาน
          h1 #{job.job}
        div
          a.btn.btn-outline-info(href="edit") แก้ไข
  .row.mb-3
    .col-12
      .card
        .card-body
          h2 รายละเอียดงาน
          span.
            !{job.job_info}
  .row
    .col-4
      .card.text-center
        .card-body
          h2 ผู้ว่าจ้าง 
          if job.client
            h4 #{job.client.name}
            p #{job.client.overview}
            a.btn.btn-outline-info(href="/profile/"+job.client.username) ดูโปรไฟล์ผู้ว่าจ้าง
          else
            h4 งานนี้ไม่ปรากฏผู้ว่าจ้าง
    .col-4
      .card.text-center
        .card-body
          h2 ฟรีแลนซ์ที่สนใจงานนี้
          p(style="font-size: 70px") #{interestCount} 
          a.btn.btn-outline-info(href=job.id+"/interests") ดูรายชื่อฟรีแลนซ์ที่สนใจงานนี้
    .col-4
      .card.text-center
        .card-body
          h2 ฟรีแลนซ์ที่ทำงานนี้ 
          if job.freelance
            h4 #{job.freelance.name}
            p #{job.freelance.overview}
          else
            p
              span.text-info.font-weight-bold งานนี้ยังว่างอยู่!&nbsp;
              span กดลงทะเบียนเพื่อแสดงความสนใจทำงานนี้
            a.btn.btn-info(href="../interested/"+job.id) แสดงความสนใจ
